<!--
  Generated template for the OrderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Order</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <ion-grid>
    <ion-row center text-center *ngFor="let product of products; let i = index">
      <h2 tappable text-uppercase style="width: 100%;" (click)="toogleSection(product.title)">{{product.title}}</h2>
      <div [ngClass]="getClass(product.title, product.class.heightAnimation)" >
        <ion-col class="data" col-12 *ngFor="let item of product.items;">
          <ion-card [attr.id]="item.value"
          [attr.class]="'card card-md step step'+i"
          (click)="addProduct(item.value, i)">
            <ion-card-content>
              <ion-card-title text-uppercase no-padding no-margin text-center>
                {{item.value}}
                </ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </div>
    </ion-row>

    
    <ion-row>
      <div class="action">
        <button ion-button (click)="submitOrder()">
          Ajouter commande
        </button>
      </div>
    </ion-row>

    <ion-row>
      <pre>{{ getOrder() | json }}</pre>
    </ion-row>

  </ion-grid>
</ion-content>